{% extends "layout.html" %}

{% block container %}
{% import "_macros.html" as macros %}
<div class="p-6 bg-white rounded-lg">
    <div class="pt-4">
        <div class="grid grid-cols-4 gap-4">
            <div class="bg-gray-100 p-4 rounded-lg">
                <p class="text-gray-900 text-sm font-semibold">Total esperado en caja</p>
                <p class="text-gray-700 text-2xl font-semibold pt-2">${{total_esperado}}</p>
            </div>
            <div class="bg-gray-100 p-4 rounded-lg">
                <p class="text-gray-900 text-sm font-semibold">Total neto</p>
                <p class="text-gray-700 text-2xl font-semibold pt-2">${{total_neto}}</p>
            </div>
        </div>

    </div>
    <div class="pt-6 overflow-y-auto max-h-24 mt-2">
        <p class="text-xl text-gray-600 font-semibold">Productos vendidos</p>
        <table class="w-full text-sm text-left rtl:text-right ">
            <thead class="text-xs text-gray-00 uppercase bg-gray-200">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Producto
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Cantidad
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr class="odd:bg-white even:bg-gray-50 border-gray-300">
                    <td class="px-6 py-4">
                        {{venta.producto}}
                    </td>
                    <td class="px-6 py-4">
                        {{venta.cantidad}}
                    </td>
                    <td class="px-6 py-4">
                        ${{venta.subtotal}}
                    </td>
                </tr>
                {%endfor%}
            </tbody>
            <tfoot>
                <tr class="font-semibold text-gray-900">
                    <th scope="row" class="px-6 py-3 text-base" colspan="2">Total</th>
                    <td class="px-6 py-3 text-right text-base">${{total_ventas}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="pt-6">
        <p class="text-xl text-gray-600 font-semibold">Salidas de efectivo</p>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-00 uppercase bg-gray-200">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Motivo
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Cantidad
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Monto
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for egreso in egresos %}
                <tr class="odd:bg-white  even:bg-gray-50 border-gray-200">
                    <td class="px-6 py-4">
                        {{egreso.motivo}}
                    </td>
                    <td class="px-6 py-4">
                        {{egreso.cantidad}}
                    </td>
                    <td class="px-6 py-4">
                        ${{egreso.total}}
                    </td>
                </tr>
                {%endfor%}
            </tbody>
            <tfoot>
                <tr class="font-semibold text-gray-900">
                    <th scope="row" class="px-6 py-3 text-base" colspan="2">Total</th>
                    <td class="px-6 py-3 text-right text-base">${{total_egresos}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="pt-6">
        <p class="text-xl text-gray-600 font-semibold">Mermas de productos registradas</p>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-00 uppercase bg-gray-200">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Producto
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Cantidad
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for merma_pro in mermas_pro%}
                <tr class="odd:bg-white even:bg-gray-50 border-gray-200">
                    <td class="px-6 py-4">
                        {{merma_pro.producto}}
                    </td>
                    <td class="px-6 py-4">
                        {{merma_pro.cantidad}}
                    </td>
                    <td class="px-6 py-4">
                        {{merma_pro.total}}
                    </td>
                </tr>
                {%endfor%}
            </tbody>
            <tfoot>
                <tr class="font-semibold text-gray-900">
                    <th scope="row" class="px-6 py-3 text-base" colspan="2">Total</th>
                    <td class="px-6 py-3 text-right text-base">${{total_mermas_pro}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="pt-6">
        <p class="text-xl text-gray-600 font-semibold">Mermas de insumos registradas</p>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-00 uppercase bg-gray-200">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Producto
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Cantidad
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for merma in mermas %}
                <tr class="odd:bg-white even:bg-gray-50 border-gray-200">
                    <td class="px-6 py-4">
                        {{merma.producto}}
                    </td>
                    <td class="px-6 py-4">
                        {{merma.cantidad}}
                    </td>
                    <td class="px-6 py-4">
                        {{merma.total}}
                    </td>
                </tr>
                {%endfor%}
            </tbody>
            <tfoot>
                <tr class="font-semibold text-gray-900">
                    <th scope="row" class="px-6 py-3 text-base" colspan="2">Total</th>
                    <td class="px-6 py-3 text-right text-base">${{total_mermas_insumos}}</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div>
        <div class="flex items-center pt-4">
            <input checked id="checked-checkbox" type="checkbox" value=""
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2">
            <label for="checked-checkbox" class="ms-2 text-sm font-medium text-gray-900">Añadir monto inicial del
                proximo día</label>
        </div>

        <form action="{{url_for('venta.registrar_corte')}}" method="post" novalidate>
            {{ form.csrf_token }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div id="montoContainer" class="mt-4">
                {{ macros.campoNuevo(form.monto_inicial, id="monto", class="bg-white border border-gray-200
                text-gray-900 rounded-lg
                focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-300
                dark:placeholder-gray-500 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500")
                }}
            </div>

            <div class="mt-4">
                {{ macros.campoNuevo(form.total_caja, class="bg-white border border-gray-200 text-gray-900 rounded-lg
                focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-300
                dark:placeholder-gray-500 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500")
                }}
            </div>

            <div class="w-ful pt-5">
                <button
                    class="focus:outline-none text-white bg-yellow-500 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-semibold rounded-lg text-base text-center px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">
                    Finalizar corte
                </button>
            </div>
        </form>

        <script>
            const checkbox = document.getElementById('checked-checkbox');
            const montoContainer = document.getElementById('montoContainer');
            const montoInput = document.getElementById('monto');

            // Función para mostrar u ocultar el campo de monto
            function toggleMonto() {
                if (checkbox.checked) {
                    montoContainer.style.display = 'block'; // Muestra el contenedor
                    montoInput.disabled = false; // Habilita el campo de entrada
                } else {
                    montoContainer.style.display = 'none'; // Oculta el contenedor
                    montoInput.disabled = true; // Deshabilita el campo de entrada
                }
            }

            // Llama a la función al cargar la página para establecer el estado inicial
            toggleMonto();

            // Escucha el evento de cambio en el checkbox
            checkbox.addEventListener('change', toggleMonto);
        </script>
    </div>
</div>
{% endblock %} 