{%extends "layout.html" %}

{%block container%}

<div class="p-4 sm:ml-64">
    <div class="p-4 border-dashed rounded-lg dark:border-gray-700">
        <h2 class="flex items-center text-3xl font-bold dark:text-gray-600">Inventario</h2>
        <h3 class="flex items-center text-2xl font-bold dark:text-gray-600 mb-5">Productos</h3>
        <div class="grid grid-cols-4 gap-4 mb-4">
            <div
                class="bg-white border-white-20 rounded-lg shadow-xl dark:shadow-gray-300 dark:bg-white-800 dark:border-gray-700 max-w-xs">
                <a href="#">
                    <img class="rounded-lg w-32 h-32 mx-auto" src="../static/css/img/chispas.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Galleta
                            con chispas</h5>
                    </a>
                    <h5 class="mb-3 text-xl font-bold text-yellow-700 dark:text-yellow-400">$115.00</h5>
                    <fieldset>
                        <legend class="sr-only">Countries</legend>

                        <div class="flex items-center mb-4">
                            <input id="country-option-1" type="radio" name="countries" value=""
                                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-100 dark:border-gray-600"
                                checked>
                            <label for="disable"
                                class="block ms-2  text-sm font-medium text-gray-400 dark:text-gray-400">
                                Paquete 1/2 kilo
                            </label>
                        </div>

                        <div class="flex items-center mb-4">
                            <input id="country-option-2" type="radio" name="countries" value=""
                                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-100 dark:border-gray-600">
                            <label for="country-option-2"
                                class="block ms-2 text-sm font-medium text-gray-400 dark:text-gray-400">
                                Paquete 1 kilo
                            </label>
                        </div>
                    </fieldset>

                    <!-- Formulario con botones de cantidad -->
                    <div class="flex items-center space-x-8 mt-3">
                        <button type="submit" name="action" value="decrease"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>-</span>
                        </button>
                        <input type="number" name="quantity" value="{{ quantity }}"
                            class="w-16 text-center border-gray-300 rounded-md" min="1" />
                        <button type="submit" name="action" value="increase"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="bg-white border-white-20 rounded-lg shadow-xl dark:shadow-gray-300 dark:bg-white-800 dark:border-gray-700 max-w-xs">
                <a href="#">
                    <img class="rounded-t-lg w-32 h-32 mx-auto" src="../static/css/img/chispas.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Galleta
                            con chispas</h5>
                    </a>
                    <h5 class="mb-3 text-xl font-bold text-yellow-700 dark:text-yellow-400">$115.00</h5>
                    <fieldset>
                        <legend class="sr-only">Countries</legend>

                        <div class="flex items-center mb-4">
                            <input id="country-option-1" type="radio" name="countries" value=""
                                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-100 dark:border-gray-600"
                                checked>
                            <label for="disable"
                                class="block ms-2  text-sm font-medium text-gray-400 dark:text-gray-400">
                                Paquete 1/2 kilo
                            </label>
                        </div>

                        <div class="flex items-center mb-4">
                            <input id="country-option-2" type="radio" name="countries" value=""
                                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-100 dark:border-gray-600">
                            <label for="country-option-2"
                                class="block ms-2 text-sm font-medium text-gray-400 dark:text-gray-400">
                                Paquete 1 kilo
                            </label>
                        </div>
                    </fieldset>
                    <!-- Formulario con botones de cantidad -->
                    <div class="flex items-center space-x-8 mt-3">
                        <button type="submit" name="action" value="decrease"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>-</span>
                        </button>
                        <input type="number" name="quantity" value="{{ quantity }}"
                            class="w-16 text-center border-gray-300 rounded-md" min="1" />
                        <button type="submit" name="action" value="increase"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="bg-white border-white-20 rounded-lg shadow-xl dark:shadow-gray-300 dark:bg-white-800 dark:border-gray-700 max-w-xs">
                <a href="#">
                    <img class="rounded-t-lg w-32 h-32 mx-auto" src="../static/css/img/chispas.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Galleta
                            con chispas</h5>
                    </a>
                    <h5 class="mb-3 text-xl font-bold text-yellow-700 dark:text-yellow-400">$115.00</h5>
                    <fieldset>
                        <legend class="sr-only">Countries</legend>

                        <div class="flex items-center mb-4">
                            <input id="country-option-1" type="radio" name="countries" value=""
                                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-100 dark:border-gray-600"
                                checked>
                            <label for="disable"
                                class="block ms-2  text-sm font-medium text-gray-400 dark:text-gray-400">
                                Paquete 1/2 kilo
                            </label>
                        </div>

                        <div class="flex items-center mb-4">
                            <input id="country-option-2" type="radio" name="countries" value=""
                                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-100 dark:border-gray-600">
                            <label for="country-option-2"
                                class="block ms-2 text-sm font-medium text-gray-400 dark:text-gray-400">
                                Paquete 1 kilo
                            </label>
                        </div>
                    </fieldset>
                    <!-- Formulario con botones de cantidad -->
                    <div class="flex items-center space-x-8 mt-3">
                        <button type="submit" name="action" value="decrease"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>-</span>
                        </button>
                        <input type="number" name="quantity" value="{{ quantity }}"
                            class="w-16 text-center border-gray-300 rounded-md" min="1" />
                        <button type="submit" name="action" value="increase"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="bg-white border-white-20 rounded-lg shadow-xl dark:shadow-gray-300 dark:bg-white-800 dark:border-gray-700 max-w-xs">
                <a href="#">
                    <img class="rounded-t-lg w-32 h-32 mx-auto" src="../static/css/img/chispas.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Galleta
                            con chispas</h5>
                    </a>
                    <h5 class="mb-3 text-xl font-bold text-yellow-700 dark:text-yellow-400">$115.00</h5>
                    <fieldset>
                        <legend class="sr-only">Countries</legend>

                        <div class="flex items-center mb-4">
                            <input id="country-option-1" type="radio" name="countries" value=""
                                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-100 dark:border-gray-600"
                                checked>
                            <label for="disable"
                                class="block ms-2  text-sm font-medium text-gray-400 dark:text-gray-400">
                                Paquete 1/2 kilo
                            </label>
                        </div>

                        <div class="flex items-center mb-4">
                            <input id="country-option-2" type="radio" name="countries" value=""
                                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-100 dark:border-gray-600">
                            <label for="country-option-2"
                                class="block ms-2 text-sm font-medium text-gray-400 dark:text-gray-400">
                                Paquete 1 kilo
                            </label>
                        </div>
                    </fieldset>
                    <!-- Formulario con botones de cantidad -->
                    <div class="flex items-center space-x-8 mt-3">
                        <button type="submit" name="action" value="decrease"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>-</span>
                        </button>
                        <input type="number" name="quantity" value="{{ quantity }}"
                            class="w-16 text-center border-gray-300 rounded-md" min="1" />
                        <button type="submit" name="action" value="increase"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-4 gap-4 mb-4">
            <div
                class="bg-white border-white-20 rounded-lg shadow-xl dark:shadow-gray-300 dark:bg-white-800 dark:border-gray-700 max-w-xs">
                <a href="#">
                    <img class="rounded-lg w-32 h-32 mx-auto" src="../static/css/img/chispas.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Galleta
                            con chispas</h5>
                    </a>
                    <h5 class="mb-3 text-xl font-bold text-yellow-700 dark:text-yellow-400">$115.00</h5>
                    <fieldset>
                        <legend class="sr-only">Countries</legend>

                        <div class="flex items-center mb-4">
                            <input id="country-option-1" type="radio" name="countries" value=""
                                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-100 dark:border-gray-600"
                                checked>
                            <label for="disable"
                                class="block ms-2  text-sm font-medium text-gray-400 dark:text-gray-400">
                                Paquete 1/2 kilo
                            </label>
                        </div>

                        <div class="flex items-center mb-4">
                            <input id="country-option-2" type="radio" name="countries" value=""
                                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-100 dark:border-gray-600">
                            <label for="country-option-2"
                                class="block ms-2 text-sm font-medium text-gray-400 dark:text-gray-400">
                                Paquete 1 kilo
                            </label>
                        </div>
                    </fieldset>
                    <!-- Formulario con botones de cantidad -->
                    <div class="flex items-center space-x-8 mt-3">
                        <button type="submit" name="action" value="decrease"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>-</span>
                        </button>
                        <input type="number" name="quantity" value="{{ quantity }}"
                            class="w-16 text-center border-gray-300 rounded-md" min="1" />
                        <button type="submit" name="action" value="increase"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="bg-white border-white-20 rounded-lg shadow-xl dark:shadow-gray-300 dark:bg-white-800 dark:border-gray-700 max-w-xs">
                <a href="#">
                    <img class="rounded-t-lg w-32 h-32 mx-auto" src="../static/css/img/chispas.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Galleta
                            con chispas</h5>
                    </a>
                    <h5 class="mb-3 text-xl font-bold text-yellow-700 dark:text-yellow-400">$8.00</h5>
                    <fieldset>
                        <legend class="sr-only">Countries</legend>

                        <div class="flex items-center mb-4">
                            <input id="country-option-1" type="radio" name="countries" value=""
                                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-100 dark:border-gray-600"
                                checked>
                            <label for="disable"
                                class="block ms-2  text-sm font-medium text-gray-400 dark:text-gray-400">
                                Paquete 1/2 kilo
                            </label>
                        </div>

                        <div class="flex items-center mb-4">
                            <input id="country-option-2" type="radio" name="countries" value=""
                                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-100 dark:border-gray-600">
                            <label for="country-option-2"
                                class="block ms-2 text-sm font-medium text-gray-400 dark:text-gray-400">
                                Paquete 1 kilo
                            </label>
                        </div>
                    </fieldset>
                    <!-- Formulario con botones de cantidad -->
                    <div class="flex items-center space-x-8 mt-3">
                        <button type="submit" name="action" value="decrease"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>-</span>
                        </button>
                        <input type="number" name="quantity" value="{{ quantity }}"
                            class="w-16 text-center border-gray-300 rounded-md" min="1" />
                        <button type="submit" name="action" value="increase"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="bg-white border-white-20 rounded-lg shadow-xl dark:shadow-gray-300 dark:bg-white-800 dark:border-gray-700 max-w-xs">
                <a href="#">
                    <img class="rounded-t-lg w-32 h-32 mx-auto" src="../static/css/img/chispas.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Galleta
                            con chispas</h5>
                    </a>
                    <h5 class="mb-3 text-xl font-bold text-yellow-700 dark:text-yellow-400">$115.00</h5>
                    <fieldset>
                        <legend class="sr-only">Countries</legend>

                        <div class="flex items-center mb-4">
                            <input id="country-option-1" type="radio" name="countries" value=""
                                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-100 dark:border-gray-600"
                                checked>
                            <label for="disable"
                                class="block ms-2  text-sm font-medium text-gray-400 dark:text-gray-400">
                                Paquete 1/2 kilo
                            </label>
                        </div>

                        <div class="flex items-center mb-4">
                            <input id="country-option-2" type="radio" name="countries" value=""
                                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-100 dark:border-gray-600">
                            <label for="country-option-2"
                                class="block ms-2 text-sm font-medium text-gray-400 dark:text-gray-400">
                                Paquete 1 kilo
                            </label>
                        </div>
                    </fieldset>
                    <!-- Formulario con botones de cantidad -->
                    <div class="flex items-center space-x-8 mt-3">
                        <button type="submit" name="action" value="decrease"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>-</span>
                        </button>
                        <input type="number" name="quantity" value="{{ quantity }}"
                            class="w-16 text-center border-gray-300 rounded-md" min="1" />
                        <button type="submit" name="action" value="increase"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="bg-white border-white-20 rounded-lg shadow-xl dark:shadow-gray-300 dark:bg-white-800 dark:border-gray-700 max-w-xs">
                <a href="#">
                    <img class="rounded-t-lg w-32 h-32 mx-auto" src="../static/css/img/chispas.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Galleta
                            con chispas</h5>
                    </a>
                    <h5 class="mb-3 text-xl font-bold text-yellow-700 dark:text-yellow-400">$115.00</h5>
                    <fieldset>
                        <legend class="sr-only">Countries</legend>

                        <div class="flex items-center mb-4">
                            <input id="country-option-1" type="radio" name="countries" value=""
                                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-100 dark:border-gray-600"
                                checked>
                            <label for="disable"
                                class="block ms-2  text-sm font-medium text-gray-400 dark:text-gray-400">
                                Paquete 1/2 kilo
                            </label>
                        </div>

                        <div class="flex items-center mb-4">
                            <input id="country-option-2" type="radio" name="countries" value=""
                                class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-100 dark:border-gray-600">
                            <label for="country-option-2"
                                class="block ms-2 text-sm font-medium text-gray-400 dark:text-gray-400">
                                Paquete 1 kilo
                            </label>
                        </div>
                    </fieldset>
                    <!-- Formulario con botones de cantidad -->
                    <div class="flex items-center space-x-8 mt-3">
                        <button type="submit" name="action" value="decrease"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>-</span>
                        </button>
                        <input type="number" name="" value="" class="w-16 text-center border-gray-300 rounded-md"
                            min="1" />
                        <button type="submit" name="action" value="increase"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}