{% extends "layout.html"%}
{%block container%}

<div class="p-4 sm:ml-64">
    <div class="p-4 border-dashed rounded-lg dark:border-gray-700">
        <h2 class="flex items-center text-3xl font-bold dark:text-gray-600">Ventas</h2>
        <p class="mb-10 text-gray-500 dark:text-gray-400">Realice el corte de ventas al finalizar el día</p>
        <h3 class="flex items-center text-2xl font-bold dark:text-gray-600 mb-5">Productos</h3>
        <div class="grid grid-cols-4 gap-4 mb-4">
            <div
                class="bg-white border-white-20 rounded-lg shadow-xl dark:shadow-gray-300 dark:bg-white-800 dark:border-gray-700 max-w-xs">
                <a href="#">
                    <img class="rounded-lg w-32 h-32 mx-auto" src="../static/css/img/chispas.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Galleta con
                            chispas</h5>
                    </a>
                    <h5 class="mb-3 text-xl font-bold text-gray-700 dark:text-gray-400">$8.00</h5>
                    <!-- Formulario con botones de cantidad -->
                    <div class="flex items-center space-x-8 mt-3">
                        <button type="submit" name="action" value="decrease"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>-</span>
                        </button>
                        <input type="number" name="quantity" value="{{ quantity }}"
                            class="w-16 text-center border-gray-300 rounded-md" min="1" />
                        <button type="submit" name="action" value="increase"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="bg-white border-white-20 rounded-lg shadow-xl dark:shadow-gray-300 dark:bg-white-800 dark:border-gray-700 max-w-xs">
                <a href="#">
                    <img class="rounded-t-lg w-32 h-32 mx-auto" src="../static/css/img/chispas.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Galleta con
                            chispas</h5>
                    </a>
                    <h5 class="mb-3 text-xl font-bold text-gray-700 dark:text-gray-400">$8.00</h5>
                    <!-- Formulario con botones de cantidad -->
                    <div class="flex items-center space-x-8 mt-3">
                        <button type="submit" name="action" value="decrease"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>-</span>
                        </button>
                        <input type="number" name="quantity" value="{{ quantity }}"
                            class="w-16 text-center border-gray-300 rounded-md" min="1" />
                        <button type="submit" name="action" value="increase"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="bg-white border-white-20 rounded-lg shadow-xl dark:shadow-gray-300 dark:bg-white-800 dark:border-gray-700 max-w-xs">
                <a href="#">
                    <img class="rounded-t-lg w-32 h-32 mx-auto" src="../static/css/img/chispas.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Galleta con
                            chispas</h5>
                    </a>
                    <h5 class="mb-3 text-xl font-bold text-gray-700 dark:text-gray-400">$8.00</h5>
                    <!-- Formulario con botones de cantidad -->
                    <div class="flex items-center space-x-8 mt-3">
                        <button type="submit" name="action" value="decrease"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>-</span>
                        </button>
                        <input type="number" name="quantity" value="{{ quantity }}"
                            class="w-16 text-center border-gray-300 rounded-md" min="1" />
                        <button type="submit" name="action" value="increase"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="bg-white border-white-20 rounded-lg shadow-xl dark:shadow-gray-300 dark:bg-white-800 dark:border-gray-700 max-w-xs">
                <a href="#">
                    <img class="rounded-t-lg w-32 h-32 mx-auto" src="../static/css/img/chispas.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Galleta con
                            chispas</h5>
                    </a>
                    <h5 class="mb-3 text-xl font-bold text-gray-700 dark:text-gray-400">$8.00</h5>
                    <!-- Formulario con botones de cantidad -->
                    <div class="flex items-center space-x-8 mt-3">
                        <button type="submit" name="action" value="decrease"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>-</span>
                        </button>
                        <input type="number" name="quantity" value="{{ quantity }}"
                            class="w-16 text-center border-gray-300 rounded-md" min="1" />
                        <button type="submit" name="action" value="increase"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-4 gap-4 mb-4">
            <div
                class="bg-white border-white-20 rounded-lg shadow-xl dark:shadow-gray-300 dark:bg-white-800 dark:border-gray-700 max-w-xs">
                <a href="#">
                    <img class="rounded-lg w-32 h-32 mx-auto" src="../static/css/img/chispas.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Galleta con
                            chispas</h5>
                    </a>
                    <h5 class="mb-3 text-xl font-bold text-gray-700 dark:text-gray-400">$8.00</h5>
                    <!-- Formulario con botones de cantidad -->
                    <div class="flex items-center space-x-8 mt-3">
                        <button type="submit" name="action" value="decrease"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>-</span>
                        </button>
                        <input type="number" name="quantity" value="{{ quantity }}"
                            class="w-16 text-center border-gray-300 rounded-md" min="1" />
                        <button type="submit" name="action" value="increase"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="bg-white border-white-20 rounded-lg shadow-xl dark:shadow-gray-300 dark:bg-white-800 dark:border-gray-700 max-w-xs">
                <a href="#">
                    <img class="rounded-t-lg w-32 h-32 mx-auto" src="../static/css/img/chispas.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Galleta con
                            chispas</h5>
                    </a>
                    <h5 class="mb-3 text-xl font-bold text-gray-700 dark:text-gray-400">$8.00</h5>
                    <!-- Formulario con botones de cantidad -->
                    <div class="flex items-center space-x-8 mt-3">
                        <button type="submit" name="action" value="decrease"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>-</span>
                        </button>
                        <input type="number" name="quantity" value="{{ quantity }}"
                            class="w-16 text-center border-gray-300 rounded-md" min="1" />
                        <button type="submit" name="action" value="increase"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="bg-white border-white-20 rounded-lg shadow-xl dark:shadow-gray-300 dark:bg-white-800 dark:border-gray-700 max-w-xs">
                <a href="#">
                    <img class="rounded-t-lg w-32 h-32 mx-auto" src="../static/css/img/chispas.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Galleta con
                            chispas</h5>
                    </a>
                    <h5 class="mb-3 text-xl font-bold text-gray-700 dark:text-gray-400">$8.00</h5>
                    <!-- Formulario con botones de cantidad -->
                    <div class="flex items-center space-x-8 mt-3">
                        <button type="submit" name="action" value="decrease"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>-</span>
                        </button>
                        <input type="number" name="quantity" value="{{ quantity }}"
                            class="w-16 text-center border-gray-300 rounded-md" min="1" />
                        <button type="submit" name="action" value="increase"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="bg-white border-white-20 rounded-lg shadow-xl dark:shadow-gray-300 dark:bg-white-800 dark:border-gray-700 max-w-xs">
                <a href="#">
                    <img class="rounded-t-lg w-32 h-32 mx-auto" src="../static/css/img/chispas.png" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-gray-700">Galleta con
                            chispas</h5>
                    </a>
                    <h5 class="mb-3 text-xl font-bold text-gray-700 dark:text-gray-400">$8.00</h5>
                    <!-- Formulario con botones de cantidad -->
                    <div class="flex items-center space-x-8 mt-3">
                        <button type="submit" name="action" value="decrease"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>-</span>
                        </button>
                        <input type="number" name="quantity" value="{{ quantity }}"
                            class="w-16 text-center border-gray-300 rounded-md" min="1" />
                        <button type="submit" name="action" value="increase"
                            class="bg-gray-200 p-2 rounded-full hover:bg-gray-300">
                            <span>+</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}