{%extends "layout.html" %}

{%block container%}

    <div class="p-4 sm:ml-64">
        <div class="p-4 border-dashed rounded-lg dark:border-gray-700">
            <h2 class="flex items-center text-3xl font-bold dark:text-gray-600">Ventas</h2>
            <p class="mb-10 text-gray-500 dark:text-gray-400">Realice el corte de ventas al finalizar el día</p>

            <h3 class="flex items-center text-2xl font-bold dark:text-gray-600 mb-5">Tipos de venta</h3>

            <div class="grid grid-cols-2 gap-4 max-w-md">
                <!-- Card 1: Unidad -->
                <div class="flex items-center justify-between p-5 bg-white shadow-md rounded-lg">
                    <span class="text-lg font-semibold text-gray-700">Unidad</span>
                    <img src="{{url_for('static',filename='img/unidad.jpg')}}" alt="Unidad" class="w-16 h-16">
                </div>

                <!-- Card 2: Por peso -->
                <div class="flex items-center justify-between p-5 bg-white shadow-md rounded-lg">
                    <span class="text-lg font-semibold text-gray-700">Por peso</span>
                    <img src="{{url_for('static',filename='img/peso.jpg')}}" alt="Por peso" class="w-16 h-16">
                </div>

                <!-- Card 3: Por dinero -->
                <div class="flex items-center justify-between p-5 bg-white shadow-md rounded-lg">
                    <span class="text-lg font-semibold text-gray-700">Por dinero</span>
                    <img src="../static/img/dinero.jpg" alt="Por dinero" class="w-16 h-16">
                </div>

                <!-- Card 4: Paquete -->
                <div class="flex items-center justify-between p-5 bg-white shadow-md rounded-lg">
                    <span class="text-lg font-semibold text-gray-700">Paquete</span>
                    <img src="{{url_for('static',filename='img/paquete.jpg')}}" alt="Paquete" class="w-16 h-16">
                </div>
                <div class="ml-auto right-0 top-0 p-5 w-80 bg-white shadow-lg rounded-lg absolute h-96 overflow-y-auto">
                    <h4 class="text-xl font-semibold text-gray-400">Orden</h4>
                    <div class="flex items-center justify-between p-5 bg-white shadow-md rounded-lg">
                        <span class="text-lg font-semibold text-gray-700">Paquete</span>
                        <img src="#" alt="Paquete" class="w-16 h-16">
                    </div>
                    <div class="flex items-center justify-between p-5 bg-white shadow-md rounded-lg mt-2">
                        <span class="text-lg font-semibold text-gray-700">Paquete</span>
                        <img src="#" alt="Paquete" class="w-16 h-16">
                    </div>
                    <div class="flex items-center justify-between p-5 bg-white shadow-md rounded-lg mt-2">
                        <span class="text-lg font-semibold text-gray-700">Paquete</span>
                        <img src="#" alt="Paquete" class="w-16 h-16">
                    </div>
                    <p class="text-gray-500 mt-2">Total:</p>
                    <button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-lg">Botón de Acción</button>
                </div>
                
            </div>        
        </div>
    </div>
    
{%endblock%}